.home{
        margin-left:3%
}

.line {
    position: fixed;
    right: 87%;
    top:20;
    height: 100%;
    width: 0.5px;
    background-color: black;
}

.category{
        position:fixed;
        right:89%;
        top:40%;
}

.headphone{
        position:fixed;
        margin-top:5%;
        margin-left:3%;
}
.headhead{
        margin-left:10%;
}
