.form-control{
	width:300px;
}

.form-select{
	width:300px;
}

.container{
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:1%;
}
/* .navbar{ */
/* 	position:absolute; */
/* } */
html, body {
  height: 100%;
  margin: 0;
}
