.button{
	margin-left:80%;

}
form{
	margin-top:5px;
	margin-bottom:5px;

}
.form-control{
	width:80px;
	margin-top:4px;
	margin-bottom:4px;
}

.container{
	width:900px;
	position:static;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.search_form{
	margin-left:67%;
	display:flex;
}

.search_box_form{
	width:200px;
}
.btn{
	height:36px;
	margin-top:4px;
}
.dropdown_sort{
	margin-left:88%;
	padding-bottom:2%;
}
.carousel-control-next-icon{
        border: 1px solid red;
        background-color:black;
}
.carousel-control-prev-icon {
        border: 1px solid red;
        background-color:black;
}
