.container{
	padding : 20px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.search_form{
        margin-left:73%;
        display:flex;
}

.search_box_form{
        width:200px;
}
.btn{
        height:36px;
        margin-top:4px;
}

.dropdown{
	margin-left:77%;
}


