.container{
	padding : 20px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.search_form{
        margin-left:78%;
        display:flex;
}

.search_box_form{
        width:200px;
}
.btn{
        height:36px;
        margin-top:4px;
}

.sortdropdown{
	margin-left:91%;
	padding-bottom:1%;
	padding-top:1%;
}


