<!DOCTYPE html>
<head>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
                <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                <link rel="stylesheet" href="{{ url_for('static', filename='inventory_edit.css') }}">
                <!-- <link rel="stylesheet" href="inventory_edit.css"> -->
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                        <div class="navbar-nav">
                                                {%if name%}
						<div class="nav-item dropdown">
						<button class="nav-link dropdown-toggle fs-5 fw-bold" data-bs-toggle="dropdown"aria-expanded="false">Hello {{ name }}</button>
						<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="{{ url_for('login.logout') }}">Logout</a></li>
						</ul>
						</div>
                                                {%endif%}
						<a class="nav-link" href="{{url_for('home.home_page',name=name)}}">Home</a>
                                                <a class="nav-link" href="{{url_for('inventory.inventory_details')}}">Inventory</a>
                                                <a class="nav-link" href="{{url_for('inventory.inven_add')}}">Add Items</a>
						<a class="nav-link" href="{{url_for('admin.hello_admin')}}">Customer Table</a>
                                        </div>
                                </div>
                        </div>
                </nav>
        <center>
                <h1>Edit Items</h1>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category,message in messages %}
		{% if category == 'danger' %}
		<p style="color:red;">{{ message }}</p>
                {% elif category == 'success' %}
                <p style="color:green;">{{ message }}</p>
                {% elif category == 'info' %}
                <p style="color:blue;">{{ message }}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
        </center>
</head>
<body>
	<form action="{{url_for('inventory.inventory_edit')}}" method="POST"  enctype="multipart/form-data">
		<div class="container">
			<div id="carousel{{product_id}}" class="carousel slide">
			        <div class="carousel-inner">
				        {%for i in url%}
			                <div class="carousel-item {%if loop.index0==0%}active{%endif%}">
			                        <img src="{{i}}" class="d-block" width="500px" height="500px">
			                </div>
					{%endfor%}
			        </div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel{{product_id}}" data-bs-slide="prev">
			        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			        <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel{{product_id}}" data-bs-slide="next">
			        <span class="carousel-control-next-icon" aria-hidden="true"></span>
			        <span class="visually-hidden">Next</span>
			</button>
			</div>
                        
			<div class="box">
                                <div class="mb-3">
                                        <h6><label class="form-label">Product ID</label></h6>
                                        <input type="text" name="product_id" class="form-control" value="{{product_id}}" readonly>
                                </div>
				<div class="mb-3">
				        <h6><label class="form-label">Category</label></h6>
					<select class="form-select catven" aria-label="Default select example" name="category">
						<option selected hidden value="{{category_id}}">{{category_name}}</option>
						{%for i in category%}
						<option value="{{i[0]}}">{{i[1]}}</option>
						{%endfor%}
					</select>
				</div>
                                
			        <div class="mb-3">
                                        <h6><label class="form-label">Product Brand</label></h6>
                                        <input type="text" name="product_brand" class="form-control" value="{{product_brand}}">
                                </div>

				<div class="mb-3">
				        <h6><label class="form-label">Product Name</label></h6>
					<input type="text" name="product_name" class="form-control" value="{{product_name}}">
			        </div>

				<div class="mb-3">
				        <h6><label class="form-label">Quantity</label></h6>
					<input type="integer" name="quantity" class="form-control" value="{{quantity}}">
				</div>

				<div class="mb-3">
				        <h6><label class="form-label">Price</label></h6>
					<input type="integer" name="price" class="form-control" value="{{price}}">
				</div>

				<div class="mb-3">
					<h6><label class="form-label">Features</label></h6>
					<textarea class="form-control" name="features">{{features}}</textarea>
                                        <label>Give the data in Key:Value pair (RAM : 2GB)</label>
				</div>


				<div class="mb-3">
				        <h6><label class="form-label">Vendor</label></h6>
					<select class="form-select catven" aria-label="Default select example" name="vendor">
						<option selected hidden value="{{vendor_id}}">{{vendor_name}}</option>
						{%for i in vendor%}
						<option value="{{i[0]}}">{{i[1]}}</option>
						{%endfor%}
					</select>
				</div>

                                <div class="mb-3">
                                        <h6><label class="form-label">Product Description</label></h6>
					<textarea class="form-control description" name="description">{{description}}</textarea>
                                </div>

                                <div class="mb-3">
                                        <h6><label class="form-label">Change Image</label></h6>
                                        <input type="file" name="zipfile" class="form-control" accept=".zip" autocomplete="off">
                                        <label>Upload a ZIP file with all the images</label>
                                        {% if error %}
                                        <div style="color:red;">{{ error }}</div>
                                        {%endif%}
                                        {%if img_error%}
                                        <div style="color:red">{{img_error}}</div>
                                        {%endif %}
                                        {% if success %}
                                        <div style="color:green;">{{ success }}</div>
                                        {% endif %}
                                </div>
                        </div>
                </div>
                                <center><input type="submit" class="btn btn-primary mt-2" value="UPDATE"></center>
        </form>
</body>
